  .ifu--svg-inject-example {
    max-width: 1000px;
    margin: 0 auto;
    font-family: Roboto, Helvetica Neue, sans-serif;
    color: #222;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    min-width: 300px;
  }

  .ifu-example-main {
    position: relative;
    background-position: bottom;
    margin: 12px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  .ifu-example-code {
  }

  .ifu-button {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
  }

  .ifu-button:focus {
    outline:none;
  }

  .ifu-code-menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    height: 48px;
  }

  .ifu-code-tabs {
    height: 100%;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 400ms;
  }

  .ifu-code-expanded .ifu-code-tabs {
    opacity: 1;
  }

  .ifu-code-menu .ifu-button-code {
    display: none;
    width: 80px;
    height: calc(100% + 1px);
    border-bottom: 5px solid transparent;
    padding-top: 5px;
    margin-top: 0;
    transition: border-color 400ms;
  }

  .ifu-has-html .ifu-button-html,
  .ifu-has-css .ifu-button-css,
  .ifu-has-js .ifu-button-js {
    display: inline;
  }

  .ifu-show-html .ifu-button-html,
  .ifu-show-css .ifu-button-css,
  .ifu-show-js .ifu-button-js {
    border-color: #EC407A;
  }

  .ifu-code-menu .ifu-code-toggle {
    opacity: 0.7;
    border: 1px solid #ccc;
    height: 32px;
    padding: 4px 1em 4px 0.7em;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 14px;
    background: #fff;
    transition: box-shadow 400ms, background-color 400ms, opacity 400ms;
  }

  .ifu-code-toggle:hover {
    opacity: 1;
    background: #fafafa;
  }

  .ifu-code-expanded .ifu-code-toggle {
    opacity: 1;
    background: #f8f8f8;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .ifu-code-toggle:after {
    content: '';
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-top: 0.15em solid;
    border-right: 0.15em solid;
    border-color: currentColor;
    transform: translateX(0.4em) translateY(-0.15em) rotate(135deg);
    transition: transform 300ms;
  }

  .ifu-code-expanded .ifu-code-toggle:after {
    transform: translateX(0.4em) translateY(0.15em) rotate(-45deg);
  }

  .ifu-code-content {
    transition: height 300ms;
    height: 0;
    overflow: auto;
  }

  .ifu-code-expanded  .ifu-code-content{
    height: 360px;
  }

  .ifu-code-html, .ifu-code-css, .ifu-code-js {
    display: none;
    box-sizing: border-box;
    min-height: 100%;
  }

  .ifu-show-html .ifu-code-html,
  .ifu-show-css .ifu-code-css,
  .ifu-show-js .ifu-code-js {
    display: block;
  }

  .ifu-code {
    padding: 40px 20px;
    font-family: Roboto Mono, Helvetica Monospaced, monospace;
    color: #eee;
    font-size: 14px;
    white-space: pre-wrap;
  }

  @media (max-width: 420px) {
    .ifu-code-menu .ifu-button-code {
      width: 62px;
    }

    .ifu-code-menu .ifu-code-toggle {
      margin-right: 4px;
    }

  }

  /* the ifu-iframe-container is used to make the iframe height responsive: http://maddesigns.de/responsive-iframes-2417.html */
  .ifu-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  .ifu-iframe-container iframe {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .ifu-iframe-container.ifu-ratio {
    padding-bottom: 30%;
  }
